{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


    3
    <section class="inner-page">
        <div class="slider-item py-5" style="background-image: url('{% static "img/slider-2.jpg" %}');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-7 col-sm-12 element-animate">
                        <h1 class="text-white">О нас</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 order-lg-3 mb-5">
                    <img src="{% static 'img/ulugbek.jpg' %}" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-md-1 order-lg-2"></div>
                <div class="col-md-5 order-lg-1">
                    <h3 class="text-uppercase heading mb-4">ООО «UMA CONSTRUCTION»</h3>
                    {#<h4 class="text-uppercase heading mb-4"> это динамично развивающая строительная компания, за плечами которой участие в крупных проектах по строительству и реконструкции.</h4>#}

                    <p class="mb-3">это динамично развивающая строительная компания, за плечами которой участие в
                        крупных проектах по строительству и реконструкции.,</p>
                    {#<ul class="list-unstyled check">#}
                    {#<li>за плечами которой</li>#}
                    {#<li>участие в крупных проектах</li>#}
                    {#<li>по строительству и реконструкции.</li>#}
                    {#</ul>#}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-lg-1 mb-5">
                    <img src="{% static 'img/armatura.jpg' %}" alt="Image placeholder" class="img-fluid">
                </div>
                <div class="col-md-1 order-lg-2"></div>
                <div class="col-md-5 order-lg-3">
                    <h2 class="text-uppercase heading mb-4">Мы 15 лет в строительстве</h2>
                    <p class="mb-3">Наша команда опытных специалистов готова реализовать самые амбициозные идеи,
                        обеспечивая высокий стандарт качества и эффективное управление проектом. Независимо от масштаба
                        вашего строительного задания — мы предлагаем комплексные решения, от проектирования до
                        завершения работ.

                        Выберите «UMA CONSTRUCTION» для того, чтобы ваш проект стал реальностью. Мы создаем будущее
                        вместе с вами!"</p>
                    {#<ul class="list-unstyled check">#}
                    {#<li>Soluta sit quam minima</li>#}
                    {#<li>Consectetur adipisicing elit</li>#}
                    {#<li>Commodi unde impedit</li>#}
                    {#</ul>#}
                </div>
            </div>
        </div>
    </section>

{% endblock %}