{% extends 'layouts/base.html' %}


{% load static %}
{% block content %}
    <section class="inner-page">
        <div class="slider-item py-5" style="background-image: url('{% static 'img/slider-1.jpg' %}');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center text-center">
                    <div class="col-md-7 col-sm-12 element-animate">
                        <h1 class="text-white">Свяжитесь с нами</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="lname">Ваше имя</label>
                                <input type="text" class="form-control form-control-lg" name="name" id="lname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="email">Номер телефона</label>
                                <input type="text" name="number" id="email" class="form-control form-control-lg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="message">Напишите ваше сообщение</label>
                                <textarea name="message" id="message" class="form-control form-control-lg" cols="30"
                                          rows="8"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="submit" value="Oтправить сообщение"
                                       class="btn btn-primary btn-lg btn-block">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h5 class="text-uppercase mb-3">Адрес:</h5>
                    <p class="mb-5">г.Ташкент, Яшнабадский район, <br> Амир Темур МФЙ, <br> ул.Темирчи 2а</p>
                    <h5 class="text-uppercase mb-3">Напишите нам по адресу</h5>
                    <p class="mb-5"><span>
                <p class="mb-5">ulugbekallabergenov@yahoo.com</p>

                        </span>
                        {#                    <br> ulugbekallabergenov@yahoo.com#}
                        {#                    <a href="https://preview.colorlib.com/cdn-cgi/l/email-protection#20435553544f4d455260594f5552444f4d41494e0e434f4d"><span#}
                        {#                            class="__cf_email__" data-cfemail="80e3f5f3f4efede5f2c0f9eff5f2e4efede1e9eeaee3efed">[email&#160;protected]</span></a>#}
                    </p>
                    <h5 class="text-uppercase mb-3">Позвоните нам</h5>
                    <p class="mb-5"> +99 890 318 29 92 </p>
                </div>
            </div>
        </div>

{% endblock %}